/* Estilo general del fondo */
body {
  background-image: url("fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/* Estilo del header y navegación */
header {
  background-color: #1aa5b8;
  padding: 15px 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 200px;
  height: auto;
  object-fit: contain;
    
}

nav a {
  color: #ffffff;
   text-shadow: 2px 2px 4px #ffffff;
  text-decoration: none;
  font-weight: 50;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
}

nav a:hover {
  text-decoration: underline;
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  color: #000000;
  text-shadow: 5px 5px 4px #d86c06;
  
}

/* Imágenes principales */
img {
  display: block;
  margin: 30px auto 10px;
  width: 90%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Párrafos debajo de imágenes */
p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #000000;
  background-repeat: no-repeat;
}

/* Separador estilizado */
hr {
  border: none;
  height: 0px;
  background: #000000;
  width: 90%;
  margin: 50px auto;
  border-radius: 2px;
}

/* Sección de contacto */
#Contacto {
  text-align: center;
  background-color: #d1830e5d;
  padding: 40px 20px;
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(90, 90, 90, 0.05);
}

#Contacto h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000; 
}

#Contacto p {
  font-size: 16px;
  color: #000000;
}

/* Pie de página */
footer {
  text-align: center;
  background-color: #1aa5b8;
  color: #000000;
  padding: 1px 5px;
  font-size: 500px;
  width: 200%;
  max-width: 1360px;  
}


.contenedor {
   display: flex;
   flex-wrap: wrap;
}

.contenedor img {
    width: 100%;
}


.imagen {
  box-sizing: border-box;
  flex-basis: 33.33%;
  flex-shrink: 0;
  padding: 5px;
}

.imagen h5 {
  margin: 5px 0;
}

mark {
    background-color: rgb(32, 236, 25);
    color: black;
  }

.container{
    display: flex;
    margin: 18px;
  }

  .principal{
    width:600px;
    height: 400px;
    margin-right: 13px;
  }

  .principal1{
    Width:600px;
    height: 400px;
    margin-left: 80px;
  }  