body{
background-image: url('equip.png');
}

/* Estilo del header y navegación */
header {
  background-color: #1aa5b8;
  padding: 15px 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  text-shadow: 2px 2px 4px #ffffff;
  text-decoration: none;
  font-weight: 50;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px 12px;
  border-radius: 6px;
}

nav a:hover {
  background-color: #00bcd4;
  color: #20232a;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  color: #000000;
  text-shadow: 2px 2px 4px #4ad9e4;
  
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #dadada;
}

h3{
    text-align: center;
    font-size: 30px;
    
} 
/* Pie de página */
footer {
  text-align: center;
  background-color: #1aa5b8;
  color: #000000;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 50px;
}

p{
  text-align: right;
}

/* Separador estilizado */
hr {
  border: none;
  height: 5px;
  background: #eca0a0;
  width: 90%;
  margin: 50px auto;
  border-radius: 2px;
}

mark {
    background-color: rgb(38, 233, 223);
    color: black;
  }